# Ignore everything by default
*

# Keep Git metadata files
!.gitignore
!.gitattributes

# Keep the lab note
!HPVevo_labNote.docx

# Keep selected folders
!data/
!data/**
!presentation/
!presentation/**
!others/
!others/**
